<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Gameshop</title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel="stylesheet" href="{% static "/css/master.css" %}">
  </head>
  <body>
    <nav class="navbar mynav navbar-expand-lg navbar-dark bg-dark navbar-static-top" role='navigation' id='navbar'>
      <div class="container">
        <a class="navbar-brand mynav" href="{% url 'home' %}">STORE</a>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            {% if user.is_developer %}
              <span class="navbar-text"> Logged in as {{user.username}} (developer) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {% else %}
              <span class="navbar-text"> Logged in as {{user.username}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {% endif %}

            <li class="nav-item"><a a class="nav-link" href="{% url 'store:profile' username=user.username %}">Profile</a></li>
            <li class="nav-item"><a a class="nav-link" href="{% url 'play:play' %}">Stats</a></li>
            <li class="nav-item"><a a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
          {% else %}
            <span class="navbar-text">You haven't logged in! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <li class="nav-item"><a a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
            <li class="nav-item"><a a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <br>
      {% if messages %}
        <div class="d-flex justify-content-center mx-auto">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true" >&times;</span>
              <span class="sr-only">Close</span>
            </button>
            {% for message in messages %}
              {{message}}
            {% endfor %}
          </div>
        </div>
      {% endif %}

    {% block content %}

    {% endblock content %}
  </body>
</html>
